include ../navbar

.row(class='mg-0 pd-0')
    .col-md-2
    .col-md-8
        .panel.panel-primary(class='mg-10 pd-0')
            br
            p(class='text-center text-20') Редагувати інформацію
            .panel.panel-default(class='pd-0' id='edituser')
                .panel-heading(class='text-center') Загальна інформація
                .panel-body
                    div(class='form-group pd-10 row')
                        .col-md-3
                            div(class="avatar-sm mg-10" id='edit_avatar_holder')
                                if(info.avatar_link==null||info.avatar_link==""||info.avatar_link==undefined)
                                    div(class="circle-avatar pd-10" style=`background-image:url(${config.noavatar})`)
                                else
                                    div(class="circle-avatar pd-10" style=`background-image:url(${info.avatar_link})`)
                        .col-md-8(class='pd-0 mg-0')
                            .row(class='pd-0 mg-0')
                                div(class='input-group col-md-12 bottom')
                                    div(class="input-group-prepend ")
                                        div(class="input-group-text")
                                            i(class="fa fa-picture-o")
                                    if(info.avatar_link==null||info.avatar_link==""||info.avatar_link==undefined)
                                        input(class=' form-control sharp-corners' id="edit_avatar" type='url' value="")
                                    else
                                        input(class=' form-control sharp-corners' id="edit_avatar" type='url' value=`${info.avatar_link}`)

                        .col-md-2
                        .col-md-10
                            button(class='bg-transparent border-none green mg-5 float-bottom btn-sm text-14' onclick='tryNewPhoto()') Спробувати нове фото
                            if(info.avatar_link==null||info.avatar_link==""||info.avatar_link==undefined)
                                button(class='bg-transparent border-none link1 mg-5 btn-sm text-14 float-bottom' onclick=`setOldPhoto(${JSON.stringify(info.avatar_link)})`) Відмінити
                            button(class='bg-transparent border-none red  mg-5 btn-sm text-14 float-bottom' onclick='deleteAvatarPhoto()') Видалити

                    div(class='form-group row')
                        label(class='col-md-3 text-rightt non-bold' for='edit_username') Ім'я користувача:
                        div(class='input-group col-md-8')
                            div(class="input-group-prepend ")
                                div(class="input-group-text ")
                                    i(class='fa-fw') @
                            input(class=' form-control sharp-corners' id="edit_username" type='text' value=`${info.username}`)
                            div(class='invalid-feedback' id='invalid_edit_un') Це поле не може бути пустим!

                    div(class='form-group row')
                        label(class='col-md-3 text-rightt non-bold' for='edit_email') Електронна пошта:
                        div(class='input-group col-md-8')
                            div(class="input-group-prepend ")
                                div(class="input-group-text")
                                    i(class='fa fa-envelope fa-fw')
                            input(class=' form-control sharp-corners' id="edit_email" type='text' value=`${info.email}`)
                            div(class='invalid-feedback' id='invalid_edit_email') Неправильно введена електронна пошта
                    div(class='form-group row')
                        label(class='col-md-3 text-rightt non-bold' ) Місто:
                        div(class='input-group col-md-8')
                            div(class="input-group-prepend ")
                                div(class="input-group-text")
                                    i(class="material-icons fa-fw") &#xe55f;
                            if(info.city==null||info.city==undefined)
                                input(class=' form-control sharp-corners' id="edit_city" type='text' value="")
                            else
                                input(class=' form-control sharp-corners' id="edit_city" type='text' value=`${info.city}`)
                    div(class='form-group row')
                        label(class='col-md-3 text-rightt non-bold' ) Телефон:
                        div(class='input-group col-md-8')
                            div(class="input-group-prepend ")
                                div(class="input-group-text")
                                    i(class='fa fa-phone fa-fw')
                            if(info.phone==null)
                                input(class=' form-control sharp-corners' id="edit_phone" type='text' value="")
                            else
                                input(class=' form-control sharp-corners' id="edit_phone" type='text' value=`${info.phone}`)
                            div(class='invalid-feedback') Телефон - 10 цифр
                    if(cookies.role=='photographer')
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_lastname') Прізвище:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-id-card-o fa-fw')
                                input(class=' form-control sharp-corners' id="edit_lastname" type='text' value=`${info.lastname}`)
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_firstname') Ім'я:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-id-card-o fa-fw')
                                input(class=' form-control sharp-corners' id="edit_firstname" type='text' value=`${info.firstname}`)
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_fathername') По-батькові:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-id-card-o fa-fw')
                                if(info.fathername==null)
                                    input(class=' form-control sharp-corners' id="edit_fathername" type='text' value="")
                                else
                                    input(class=' form-control sharp-corners' id="edit_fathername" type='text' value=`${info.fathername}`)
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_organization') Місце роботи:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-camera fa-fw')
                                if(info.organization==null)
                                    input(class=' form-control sharp-corners' id="edit_organization" type='text' value="")
                                else
                                    input(class=' form-control sharp-corners' id="edit_organization" type='text' value=`${info.organization}`)
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_price') Ціна:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-usd fa-fw')
                                input(class=' form-control sharp-corners' id="edit_price" type='number' min='0' value=`${info.price}`)
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='edit_exp') Стаж:
                            div(class='input-group col-md-8')
                                div(class="input-group-prepend ")
                                    div(class="input-group-text")
                                        i(class='fa fa-wrench fa-fw')
                                select(id='edit_exp_select' class='form-control sharp-corners')
                                    option(value='1') до 1 року
                                    option(value='2') 2 роки
                                    option(value='3') 3 роки
                                    option(value='4') 4+ роки
                                script.
                                    let exp=!{JSON.stringify(info)}.exp;
                                    $("#edit_exp_select").val(exp);

                    div(class='form-group row')
                        label(class='col-md-3 text-rightt non-bold' for='edit_cl_about') Про себе
                        div(class='input-group col-md-8')
                            div(class="input-group-prepend ")
                                div(class="input-group-text")
                                    i(class="fa fa-pencil-square-o fa-fw")
                            textarea(class=' form-control sharp-corners' id="edit_cl_about" rows='3')= info.about
                .panel-footer(class='text-center')
                    button(class='border-none bg-transparent link1 expand' onclick=`editClientInfo(${JSON.stringify(info)},${JSON.stringify(users)})`) Зберегти зміни
            br
            if(cookies.role=='photographer')
                .panel.panel-info(class='mg-0 pd-0' id='editph_types')
                    .panel-heading(class='text-center') Типи зйомки
                    .panel-body(class='pd-10 row' style="padding-left:35px!important;")
                        each t in types
                            div(class="form-group custom-checkbox mg-10 col-md-5")
                                input(type='checkbox', id="edit_type" + t.type_id, class="custom-control-input" )
                                label(for="edit_type" + t.type_id, class="custom-control-label non-bold")=t.name
                        script.
                            let ph_types=!{JSON.stringify(ph_types)};
                            for(t of ph_types)
                                $("#edit_type"+t.type_id).prop("checked",true);
                    .panel-footer(class='text-center')
                        button(class='border-none bg-transparent link1 expand'
                        onclick=`editPhTypes(${JSON.stringify(info)},${JSON.stringify(types)})`) Зберегти типи
                br
                .panel.panel-default(class='mg-0 pd-0' id='editph_contacts')
                    .panel-heading(class='text-center') Посилання на соцмережі
                    .panel-body(class='pd-10' )
                        each s in social
                            div(class='form-group row')
                                label(class='col-md-2 text-rightt non-bold' for=`edit_acc${s.social_id}`)= s.site_name
                                div(class='input-group col-md-9')
                                    div(class="input-group-prepend ")
                                        div(class="input-group-text")
                                            i(class=`fa-fw ${s.icon}`)
                                    input(class=' form-control sharp-corners' id=`edit_acc${s.social_id}` type='text' )
                        script.
                            let accounts=!{JSON.stringify(accounts)};
                            for(acc of accounts)
                                $("#edit_acc"+acc.social_id).val(acc.account_link);

                    .panel-footer(class='text-center')
                        button(class='border-none bg-transparent link1 expand'
                        onclick=`editPhAccounts(${JSON.stringify(info)},${JSON.stringify(social)})`) Зберегти контакти
            br
            .panel.panel-danger(class='form-group mg-0 pd-0' id="editpassword")
                .panel-heading(class='text-center') Змінити пароль
                .panel-body(class='pd-10')
                    form(id='change_password_form')
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='cur_password') Старий пароль:
                            .col-md-8(class='pd-0')
                                input(type='password' id='cur_password' class='expand form-control sharp-corners')
                                div(class='invalid-feedback text-14 expand') Неправильний пароль
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='new_password') Новий пароль:
                            .col-md-8(class='pd-0')
                                input(type='password' id='new_password' class='expand form-control sharp-corners')
                                div(class='invalid-feedback expand text-14') Пароль не відповідає вимогам
                        div(class='form-group row')
                            label(class='col-md-3 text-rightt non-bold' for='new_password2') Повторіть пароль:
                            .col-md-8(class='pd-0')
                                input(type='password' id='new_password2' class='expand form-control sharp-corners')
                                div(class='invalid-feedback expand text-14') Паролі не збігаються
                .panel-footer(class='text-center')
                    button(class='border-none bg-transparent link1 expand red' onclick=`changePassword(${JSON.stringify(info)})`) Змінити пароль

    .col-md-2