html
    head
        title=title
        style
            include ../public/stylesheets/home.css
body
    if(auth)
        include ../navbar
    else
        include ../navbar_unsign
    .row(class="mg-0 let-menu")
        div(class="carousel slide col-md-12 mg-0 pd-0 slider" data-ride="carousel")
            div(class="carousel-inner")
                div(class="carousel-item active mg-0")
                    img(class="d-block w-100 mg-0", src="/public/images/slider1.jpg", alt="First slide")
                div(class="carousel-item mg-0")
                    img(class="d-block w-100", src="/public/images/slider2.jpg", alt="Second slide")
                div(class="carousel-item mg-0")
                    img(class="d-block w-100 mg-0", src="/public/images/slider3.jpg", alt="Third slide")
            form(method="POST",action="/search" class="search-form")
                div(class="input-group mb-3")
                    input(type="search" class="form-control " placeholder="Моя ідеальна фотосесія" )
                    div(class="input-group-append")
                        button(class="btn btn-warning " type="submit") Пошук
    .row(class="mg-0 pd-25")
        .col-md-3(class="pd-0 mg-10")
            .panel(class="pd-0 sticky-top")
                .panel-heading Фільтрувати пошук
                form(class="panel-body")
                    div(class="form-group")
                        label(for="filter_type", class="non-bold") Тип зйомки
                        select(class="form-control", id="filter_type")
                            option Будь-яка зйомка
                            each t in types
                                option= t.name
                        br

                        label(for="filter_city", class="non-bold") Місто
                        select(class="form-control", id="filter_city")
                            option Усі міста
                            each c in cities
                                option= c.city
                        br
                        label(for="filter_years", class="non-bold") Стаж
                        select(class="form-control" id="filter_years")
                            option Будь-який
                            option менше 1 року
                            option 2 роки
                            option 3 роки
                            option 4+ роки
                    button(class="btn btn-info bg-green", type="submit") Фільтрувати
        .col-md-9
            each ph in phinfo
                .panel.panel-primary
                    .row(class="mg-0 pd-10")
                        .col-md-3
                            div(class="avatar mg-10")
                                div(class="circle-avatar pd-10" style=`background-image:url(${ph.avatar_link})`)
                        .col-md-6
                            .h1(class="text-24")= ph.username
                            .h5
                                span(class="text-muted pd-r-25")= '$'+ph.price
                                i(class="material-icons text-20 ") &#xe55f;
                                span(class="text-20")= ph.city

                        .col-md-3(class="pd-25")
                            if(auth)
                                div(class="form-group custom-checkbox ")
                                    input(type='checkbox',id="put",class="custom-control-input" onclick='addToFavorites('+ph.id+')')
                                    label(for="put", class="custom-control-label non-bold") Зберегти в закладках

                            a(class="btn btn-info bg-green" type="button" href=`/guest/`+`${ph.username}`) Відкрити профіль
                    .row
                        .col-md-12
                            div(id="blogCarousel" class="carousel slide pd-25" data-ride="carousel")
                                div(class="carousel-inner")
                                    div(class="carousel-item active")
                                        .row
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider4.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider5.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider1.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider3.jpg)")
                                    div(class="carousel-item ")
                                        .row
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider6.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider7.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider5.jpg)")
                                            .col-md-3
                                                div(class="circle-avatar" style="background-image:url(../public/images/slider4.jpg)")

                                a(class="carousel-control-prev" href="#blogCarousel" role="button" data-slide="prev")
                                    span(class="carousel-control-prev-icon" aria-hidden="true")
                                    span(class="sr-only") Previous
                                a(class="carousel-control-next" href="#blogCarousel" role="button" data-slide="next")
                                    span(class="carousel-control-next-icon" aria-hidden="true")
                                    span(class="sr-only") Next

