
if(cookies.auth=='true')
    include ../navbar
else if(cookies.auth=='false')
    include ../navbar_unsign
.row(class="mg-0 let-menu")
    div(class="carousel slide col-md-12 mg-0 pd-0 slider" data-ride="carousel")
        div(class="carousel-inner")
            div(class="carousel-item active mg-0")
                img(class="d-block w-100 mg-0", src="/public/images/slider1.jpg", alt="First slide")
            div(class="carousel-item mg-0")
                img(class="d-block w-100", src="/public/images/slider2.jpg", alt="Second slide")
            div(class="carousel-item mg-0")
                img(class="d-block w-100 mg-0", src="/public/images/slider7.jpg", alt="Third slide")
        form(class="search-form" id='search_form' action='/search' method="GET")
            div(class="input-group mb-3")
                input(type="search" class="form-control" name='q'  id="search_input" placeholder="Моя ідеальна фотосесія" )
                div(class="input-group-append")
                    button(class="btn btn-warning " type='button' onclick='search()')
                        i(class='fa fa-search mg-h-5')
            div(class=" text-center")
                span(class="search_link selected" onclick="changeSearchType(0)" id="searchByPhoto")= ' за фото  '
                    i(class='fa fa-image')
                span(class="search_link" onclick="changeSearchType(1)" id="searchByPerson")= ' за фотографом  '
                    i(class='fa fa-user-o')

.row(class="mg-0 pd-25")
    .col-md-3(class="pd-0 ")
        .panel(class="pd-0 sticky-top")
            .panel-heading Фільтрувати пошук
            .panel-body
                div(class="form-group")
                    label(for="filter_type", class="non-bold") Тип зйомки
                    select(class="form-control", id="filter_type")
                        option(value='0') Будь-яка зйомка
                        each t in types
                            option(value=t.type_id)= t.name
                    br

                    label(for="filter_city", class="non-bold") Місто
                    select(class="form-control", id="filter_city")
                        option(value='0') Усі міста

                    br
                    label(for="filter_years", class="non-bold") Стаж
                    select(class="form-control" id="filter_years")
                        option(value='0') Будь-який
                        option(value=1) до 1 року
                        option(value=2) 2 роки
                        option(value=3) 3 роки
                        option(value=4) 4+ роки
                    br
                    label(for="filter_price", class="non-bold") Ціна:
                    input(type="text" id="filter_price" readonly class='border-none')
                    div(id="slider-range")
                    div
                        span(class='float-left') 0
                        span(class='float-right') 5000
                    br
                button(class="btn btn-info bg-green",  onclick='filter()') Фільтрувати



    div( class='col-md-9')
        div(id='filter_spinner' class='expand text-center minh ')
            i(class='fa fa-pulse fa-spinner text-40 white')
        button(class="bg-transparent border-none btn-block btn link1 ", id='cancel_search' onclick=`nofilter(${JSON.stringify(phinfo)},
                         ${JSON.stringify(cookies)}, ${JSON.stringify(photos)},${JSON.stringify(favorites)});`) Скасувати
        div(class='expand ' id='search_people')
        div(id='filter_error' class='panel panel-danger mg-0 pd-0')
            div(class='panel-heading') За вашим запитом нічого не знайдено
        script.
            $("#filter_spinner").hide();
            $("#cancel_search").hide();
            $("#filter_error").hide();
            setSlider();
            let cookies = !{JSON.stringify(cookies)};
            fillSearchPhotographers(!{JSON.stringify(phinfo)}, !{JSON.stringify(cookies)},
                !{JSON.stringify(photos)},!{JSON.stringify(favorites)});





