html
    head
        title= config.title
    style
        include ../public/stylesheets/profile.css
body
    if(guest&&!auth)
        include ../navbar_unsign
    else
        include ../navbar
    .row(class="pd-0 mg-0")
        .col-md-5
            if(guest)
                a(class='link1 btn btn-outline-light sharp-corners' href=`/guest/${ph_username}`)
                    span(class='fa fa-arrow-left')
            div(class="nav sticky-top flex-column nav-pills" id="folders" role="tablist" aria-orientation="vertical")
                if(!guest)
                    button(class="btn btn-block btn-outline-light sharp-corners" type='button', data-toggle="modal", data-target='#add_folder_modal') +додати папку
                br
                div(class="empty_div")
                each f in folders
                    if(f==folders[0])
                        a(class="link1  folder-link active" id=`folder${f.folder_id}-tab` data-toggle="pill"  href=`#folder${f.folder_id}`
                        role="tab" aria-controls= href=`folder${f.folder_id}` aria-selected="true")= f.name
                    else
                        a(class="link1  folder-link" id=`folder${f.folder_id}-tab` data-toggle="pill"  href=`#folder${f.folder_id}`
                        role="tab" aria-controls= href=`folder${f.folder_id}` aria-selected="false")= f.name
        .col-md-1
        .col-md-5
            div(class="tab-content" id='photos_container')
                if(!guest)
                    button(class="btn btn-block btn-outline-light " type='button', data-toggle="modal", data-target='#add_photo_modal') +додати фото
                br
                each f in folders
                    if(f.folder_id===folders[0].folder_id)
                        div(class="tab-pane show active" id=`folder${f.folder_id}` role="tabpanel" aria-labelledby=`folder${f.folder_id}-tab`)
                            each photo in photos
                                if(photo.folder_id===f.folder_id)
                                    div(class='card ')
                                        div(class='img-container')
                                            div(class="circle-avatar " style=`background-image:url(${photo.link})`)
                                        div(class='card-body')
                                            h5(class='card-title')= photo.title
                                            p(class="text-14 text-muted text-break")= photo.tags
                                    br
                    else
                        div(class="tab-pane fade" id=`folder${f.folder_id}` role="tabpanel" aria-labelledby=`folder${f.folder_id}-tab`)
                            each photo in photos
                                if(photo.folder_id === f.folder_id)
                                    div(class='card')
                                        div(class='img-container')
                                            div(class="circle-avatar " style=`background-image:url(${photo.link})`)
                                        div(class='card-body')
                                            h5(class='card-title')= photo.title
                                            p(class="text-14 text-muted text-break")= photo.tags
                                    br
        .col-md-1

div(id="add_folder_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-header")
                h4(class="text-center text-20") Нова папка
                button(type="button" class="close" data-dismiss="modal") &times;

            div(class="modal-body")
                form(method="POST", class="mx-auto font-17", action="/addfolder" )
                    +input("text","","Назва", "Назва папки:",name='title', required)
                    button(type="submit" class="btn btn-info bg-green btn-block font-17" ) Створити папку


div(id="add_photo_modal", class="modal fade font-17", role="dialog", aria-hidden="true")
    div(class="modal-dialog")
        div(class="modal-content" )
            div(class="modal-body")
                nav
                    div(class="nav nav-tabs font-17" id="nav-tab" role="tablist")
                        a(class="nav-item nav-link black active" id="link_photo_tab" data-toggle="tab" href="#link_photo" role="tab" aria-controls="link_photo" aria-selected="true") Посилання
                        a(class="nav-item nav-link black " disabled id="download_photo_tab" data-toggle="tab" href="#download_photo" role="tab" aria-controls="download_photo" aria-selected="false") Завантажити

                div(class="tab-content" id="nav-tabContent")
                    div(class="tab-pane show active" id="link_photo" role="tabpanel" aria-labelledby="link_photo_tab")
                        form(id="link_photo_form", method="POST", class="mx-auto needs-validation", action="/addphoto")
                            div(class="form-group")
                                label(for="photo_link" class="non-bold") Посилання:
                                input(type="text", id="photo_link", class="form-control", placeholder="Url", name='photo_link')
                                div(class="invalid-feedback text-14 mg-l-15") Це полене може бути пустим!
                            input(type="submit" class="btn btn-info btn-block" value="Додати фото!")


                    div(class="tab-pane fade" id="download_photo" role="tabpanel" aria-labelledby="download_photo_tab")
                        form(id="download_photo_form", method="POST", class="mx-auto needs-validation", action="downloadphoto")

                            div(class="form-group")
                                label(for="photo_file" class="non-bold") Оберіть файл:
                                input(type="file", id="photo_file", class="form-control", name='photo_file',accept="image/*")
                                div(class="invalid-feedback text-14 mg-l-15") Оберіть файл!
                            input(type="submit" class="btn btn-info btn-block ", value="Додати фото!")