include ../navbar
        .row(class='mg-0 pd-0 bg-white' id="profilecl")
            .col-md-1
            .col-md-10
                .row(class='mg-0 pd-10  ')
                    .col-md-3
                        div(class="avatar-lg mg-10")
                            if(info.avatar_link==""||info.avatar_link==null)
                                div(class="circle-avatar pd-10" style=`background-image:url(${config.noavatar})`)
                            else
                                div(class="circle-avatar pd-10" style=`background-image:url(${info.avatar_link})`)
                    .col-md-9
                        .row
                            .col-md-7
                                div(class='empty_div')
                                h5(class='text-muted text-24')= '@'+info.username
                                br
                                p
                                    if(info.city!=null&&info.city!=undefined&&info.city!="")
                                        i(class="material-icons") &#xe55f;
                                        span= info.city
                                        br
                                    i(class="fa fa-envelope")
                                    span= ' '+info.email
                                    br
                                    if(info.phone!= undefined)
                                        i(class="fa fa-phone")
                                        span=' '+info.phone
                                if(info.about != undefined)
                                    p(class="text-14 text-break")= info.about
                            .col-md-5
                                a(class="btn btn-info bg-green float-right" href='/edit/'+cookies.username) Редагувати
                                br
                    .col-md-12
                        ul(class='nav nav-tabs')

                            li(class="active")
                                a(data-toggle="tab" href="#client_photosessions" class='link1') Фотосесії

                            li
                                a(data-toggle="tab" href="#client_favorites" class='link1') Збережено

            .col-md-12
                div(class="tab-content minh")
                        div(id="client_favorites" class="tab-pane row fade ")
                            div(class="empty_div col-md-12")
                            .col-md-1
                            .col-md-10
                                .row
                                if(favorites[0]==undefined)
                                    p Поки що немає збережених фотографів
                                else
                                    each fav in favorites
                                        .panel(class='col-md-5' id=`favpanel${fav.ph_id}`)
                                            .row(class="mg-0 ")
                                                .col-md-4
                                                    div(class="avatar-sm mg-10")
                                                        if(fav.avatar_link != undefined)
                                                            div(class="circle-avatar pd-10" style=`background-image:url(${fav.avatar_link})`)
                                                        else
                                                            div(class="circle-avatar pd-10" style='background-image:url(https://i.pinimg.com/564x/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg)')
                                                .col-md-6
                                                    a(class="text-20 link1" href=`/guest/${fav.username}`)= '@'+fav.username
                                                    .h5
                                                        i(class="material-icons text-17 ") &#xe55f;
                                                        span(class="text-17")= fav.city
                                                    .h5
                                                        span(class="text-muted pd-r-25")= '$' + fav.price
                                                .col-md-2
                                                    button(id=`fav${fav.ph_id}`, class="btn btn-outline-danger border-none"
                                                    onclick=`deleteFromFavorites(${fav.ph_id},${info.user_id},true)`)
                                                        i(class="fa fa-trash red")
                                    .col-md-1
                        div(id="client_photosessions" class="tab-pane  row fade in active show")
                            .col-md-1
                            .col-md-10
                                .row
                                    .col-md-4
                                        each order in orders
                                            if(order.status==1)
                                                .panel.panel-success(class='mg-b-20')
                                                    .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                        span(id=`date_order${order.order_id}` class='pd-r-25')
                                                        a(class="link1" href=`/guest/${order.username}`)= '@'+order.username
                                                        i(class='fa fa-check mg-5 float-right')
                                                    .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                        p= 'Тема: ' + order.topic
                                                        .row
                                                            .col-md-4
                                                            .col-md-8
                                                                p(class='text-break')= order.message_cl
                                                                p= "Контакт для зв'язку: " + order.contact_cl
                                                            .col-md-8
                                                                p(class='text-break')= order.message_ph
                                                                p= 'Контакт фотографа: ' + order.contact_ph
                                                            .col-md-4


                                    .col-md-4
                                        each order in orders
                                            if(order.status == 2)
                                                .panel.panel-warning(class='mg-b-20' id=`order${order.order_id}`)
                                                    .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                        span(id=`date_order${order.order_id}` class='pd-r-25')
                                                        a(class="link1" href=`/guest/${order.username}`)= '@' + order.username
                                                        i(class='fa fa-clock-o mg-5 float-right')
                                                    .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                        p= 'Тема: '+order.topic
                                                        .row
                                                            .col-md-4
                                                            .col-md-8
                                                                p(class='text-break')= order.message_cl
                                                                p= "Контакт для зв'язку: " + order.contact_cl
                                                            .col-md-8
                                                                p(class='text-break') Поки немає відповіді від фотографа
                                                            .col-md-12
                                                                button(class='btn-block border-none bg-transparent' onclick=`cancelOrder(${JSON.stringify(order.order_id)},${JSON.stringify(order.date)},${JSON.stringify(order.ph_id)})`) Скасувати замовлення
                                    .col-md-4
                                        each order in orders
                                            if(order.status == 0)
                                                .panel.panel-danger(class='mg-b-20')
                                                    .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                        span(id=`date_order${order.order_id}` class='pd-r-25')
                                                        a(class="link1" href=`/guest/${order.username}`)= '@' + order.username
                                                        i(class='fa fa-times mg-5 float-right')
                                                    .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                        p= 'Тема: ' + order.topic
                                                        .row
                                                            .col-md-4
                                                            .col-md-8
                                                                p(class='text-break')= order.message_cl
                                                                p= "Контакт для зв'язку: " + order.contact_cl
                                                            .col-md-8
                                                                p= 'Причина відмови: '
                                                                p(class='text-break')= order.message_ph
                                                            .col-md-4
                                                            .col-md-12
                                                                button(class='btn-block border-none bg-transparent' onclick=`cancelOrder(${JSON.stringify(order.order_id)},${JSON.stringify(order.date)},${JSON.stringify(order.ph_id)})`) Підтвердити скасування
                                script setOrdersDate(!{JSON.stringify(orders)});
                            .col-md-1

            .col-md-1
