
if(cookies.auth=='false')
    include ../navbar_unsign
else
    include ../navbar

.row(class='mg-0 pd-0 bg-white' id="profile")
    .col-md-1
    .col-md-10
        .row(class='mg-0 pd-10  ')
            .col-md-3
                div(class="avatar-lg mg-10")
                    if(info.avatar_link==null||info.avatar_link=="")
                        div(class="circle-avatar pd-10" style=`background-image:url(${config.noavatar})`)
                    else
                        div(class="circle-avatar pd-10" style=`background-image:url(${info.avatar_link})`)
            .col-md-9
                .row
                    .col-md-7
                        if(info.fathername===undefined)
                            .h1(class="text-24")= info.lastname +' ' +info.firstname
                        else
                            .h1(class="text-24")= info.lastname +' ' +info.firstname +' '+info.fathername

                        .h5
                            p(class='text-muted')= '@'+info.username
                            span(class="text-muted pd-r-25")= '$'+info.price
                            if(info.city!=null && info.city!="")
                                i(class="material-icons text-20 ") &#xe55f;
                                span(class="text-20")= info.city
                        p(class="text-14")= 'Стаж: '+info.exp+' роки'
                        if(info.organization!=undefined&&info.organization!=null)
                            p(class="text-14")= info.organization
                        p(class="text-14 text-break")= info.about
                    .col-md-5
                        if(!guest)
                            a(class="btn btn-info bg-green float-right" href='/edit/'+cookies.username) Редагувати

                        if(guest&&cookies.auth=='true')
                            if(!favorite)
                                button(class='btn pd-0 btn-light float-right hover-green border-none green bg-transparent' id=`fav${info.ph_id}`
                                onclick=`addToFavorites(${JSON.stringify(info.ph_id)},${JSON.stringify(cookies.user_id)})`)
                                    i( class='text-40 material-icons') &#xe8e7;
                            else
                                button(class='btn pd-0 btn-light float-right hover-green border-none green bg-transparent' id=`fav${info.ph_id}`
                                onclick=`deleteFromFavorites(${JSON.stringify(info.ph_id)},${JSON.stringify(cookies.user_id)})`)
                                    i( class='text-40 material-icons') &#xe8e6;
                            br
                        div(id="rating_container" class='float-right')
                        script.
                            setRatings(!{JSON.stringify(guest)},!{JSON.stringify(info)},!{JSON.stringify(cookies)});

                    .col-md-12
                        p
                            each t in mytypes
                                a(class='link1' href='/search?q='+t )= '#' + t.name+' '
            .col-md-12
                ul(class='nav nav-tabs')

                    li(class="active")
                        a(data-toggle="tab" href="#calendar" class='link1') Календар


                    if(!guest)
                        li
                            a(data-toggle="tab" href="#favorites" class='link1') Збережено
                    li
                        a(data-toggle="tab" href="#contacts" class='link1') Контакти
                    li
                        if(guest)
                            a( class='link1' href='/guest/photoalbum/'+info.username) Фото
                        else
                            a( class='link1' href='/photoalbum/'+cookies.username) Фото
    .col-md-12
        div(class="tab-content minh")
            if(!guest)
                div(id="favorites" class="tab-pane row fade " )
                    div(class="empty_div col-md-12")
                    .col-md-1
                    .col-md-10
                        .row
                        if(favorites===[])
                            p Поки що немає збережених фотографів
                        each fav in favorites

                            .panel(class='col-md-5' id=`favpanel${fav.ph_id}`)
                                .row(class="mg-0 ")
                                    .col-md-4
                                        div(class="avatar-sm mg-10")
                                            if(fav.avatar_link != undefined)
                                                div(class="circle-avatar pd-10" style=`background-image:url(${fav.avatar_link})`)
                                            else
                                                div(class="circle-avatar pd-10" style='background-image:url(https://i.pinimg.com/564x/d9/7b/bb/d97bbb08017ac2309307f0822e63d082.jpg)')
                                    .col-md-6
                                        a(class="text-20 link1" href=`/guest/${fav.username}`)= '@'+fav.username
                                        .h5
                                            i(class="material-icons text-17 ") &#xe55f;
                                            span(class="text-17")= fav.city
                                        .h5
                                            span(class="text-muted pd-r-25")= '$' + fav.price
                                    .col-md-2
                                        button(id=`fav${fav.ph_id}`, class="btn btn-outline-danger border-none"
                                        onclick=`deleteFromFavorites(${fav.ph_id},${info.user_id},true)`)
                                            i(class="fa fa-trash red")
                            .col-md-1


            div(id="contacts" class="tab-pane row fade ")
                .col-md-1
                .col-md-10
                    .row
                        each con in contacts

                            .col-md-3
                                if(con.site_name=='Email'||con.site_name == 'Phone')
                                    a(class='link1 btn ' href="#contacts")
                                        span(class=`${con.icon}`)
                                        = ' ' + con.account_link
                                else
                                    a(class='link1 btn ' href=con.account_link)
                                        span(class=`${con.icon}`)
                                        = ' ' +con.site_name

            div(id="calendar" class="tab-pane row fade in show active" )
                .col-md-1
                div(id="calendar_carousel" class="carousel slide col-md-10" data-ride="false")

                    div(class="carousel-inner " id='calendar-holder')
                        div(class="carousel-item  row active")
                            .col-md-1
                            div( class='mg-0 pd-0 col-md-10 expand')
                                div(class="month expand")
                                    ul(class='no-marks pd-0 mg-0')
                                        li
                                            span(id="month_name" class='text-20') August
                                            br
                                            span(id="year_number") 2017
                                table(class='mg-0 pd-0 expand table-bordered')
                                    thead
                                        tr(class='weekdays')
                                            each day in ['Пн','Вт','Ср','Чт','Пт','Сб','Нд']
                                                td= day
                                    tbody(id='dates')
                                        script.
                                            setCalendar(!{JSON.stringify(dates)},!{JSON.stringify(cookies)},!{JSON.stringify(info)},!{JSON.stringify(guest)});


                            .col-md-1

                    a(class="carousel-control-prev" href="#calendar_carousel" role="button" data-slide="prev")
                        span(class="carousel-control-prev-icon pd-r-10" aria-hidden="true")
                        span(class="sr-only") Previous

                    a(class="carousel-control-next" href="#calendar_carousel" role="button" data-slide="next")
                        span(class="carousel-control-next-icon"  aria-hidden="true")
                        span(class="sr-only") Next
                .col-md-1
                .col-md-2
                if(guest)
                    .col-md-12(class='minh')
                if(!guest)
                    .col-md-10
                        p(class='text-muted text-14 ') Встановлюйте дати активними та неактивними просто натискаючи на клітинки календаря
                    .col-md-12
                        p(class='text-20 text-center mg-top-20') Замовлені зйомки
                        .row
                            .col-md-4(class='pd-15' id='approved_orders')
                                p(class=' text-center') Підтверджені
                                each order in orders
                                    if(order.status == 1)
                                        .panel.panel-success(class='mg-b-20' id=`order${order.order_id}`)
                                            .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                span(id=`date_order${order.order_id}` class='pd-r-25')
                                                a(class="link1" href=`/guest/${order.username}`)= '@' + order.username
                                                i(class='fa fa-check mg-5 float-right')
                                            .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                p= 'Тема: ' + order.topic
                                                .row
                                                    .col-md-8
                                                        p(class='text-break')= order.message_cl
                                                        p= "Контакт клієнта: " + order.contact_cl
                                                    .col-md-4
                                                    .col-md-4
                                                    .col-md-8
                                                        p(class='text-break')= order.message_ph
                                                        p= 'Ваш контакт: ' + order.contact_ph
                                                    .col-md-12
                                                        button(class='border-none btn-block bg-transparent red pointer' data-toggle='modal' data-target='#cancel_order_modal'
                                                        onclick=`setCancelOrderOnclick(${JSON.stringify(order)})`) Скасувати замовлення
                            .col-md-4(class='pd-15' id='process_orders')
                                p(class=' text-center') Нові
                                each order in orders
                                    if(order.status == 2)
                                        .panel.panel-warning(class='mg-b-20' id=`order${order.order_id}`)
                                            .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                span(id=`date_order${order.order_id}` class='pd-r-25')
                                                a(class='link1' href=`/guest/${order.username}`)= '@' + order.username
                                                i(class='fa fa-clock-o mg-5 float-right')
                                            .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                p= 'Тема: ' + order.topic
                                                .row

                                                    .col-md-8
                                                        p(class='text-break')= order.message_cl
                                                        p= "Контакт клієнта: " + order.contact_cl
                                                    .col-md-4
                                                    .col-md-12
                                                        button(class='btn-block text-left light-green border-none bg-transparent pd-5' data-toggle='modal' data-target='#approve_order_modal'
                                                        onclick=`setApproveOrderOnclick(${JSON.stringify(order)})`)
                                                            i(class='fa fa-arrow-left light-green')
                                                            span Підтвердити замовлення
                                                    .col-md-12
                                                        button(class='btn-block text-right red border-none bg-transparent pd-5' data-toggle='modal' data-target='#cancel_order_modal'
                                                        onclick=`setCancelOrderOnclick(${JSON.stringify(order)})`) Скасувати замовлення
                                                            i(class='fa fa-arrow-right red')

                            .col-md-4(id='cancelled_orders' class='pd-15')
                                p(class=' text-center') Скасовані
                                each order in orders
                                    if(order.status == 0)
                                        .panel.panel-danger(class='mg-b-20' id=`order${order.order_id}`)
                                            .panel-heading(data-toggle="collapse" href=`#ordercard${order.order_id}` aria-expanded="false" class='pointer')
                                                span(id=`date_order${order.order_id}` class='pd-r-25')
                                                a(class="link1" href=`/guest/${order.username}`)= '@' + order.username
                                                i(class='fa fa-times mg-5 float-right')
                                            .panel-body(class="collapse" id=`ordercard${order.order_id}`)
                                                p= 'Тема: ' + order.topic
                                                .row
                                                    .col-md-8
                                                        p(class='text-break')= order.message_cl
                                                        p= "Контакт клієнта: " + order.contact_cl
                                                    .col-md-4
                                                    .col-md-4
                                                    .col-md-8
                                                        p(class='text-break')= order.message_ph
                                                    .col-md-12
                                                        button(class='border-none btn-block bg-transparent light-green pointer' data-toggle='modal' data-target='#approve_order_modal'
                                                        onclick=`setApproveOrderOnclick(${JSON.stringify(order)})`) Підтвердити замовлення
                            .col-md-12(class='minh')
                        script   setOrdersDate(!{JSON.stringify(orders)});


    .col-md-1
div(class='expand minh darkk')

